.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image,
.about__logo-image {
  width: 130px;
  height: auto;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 100;
}

.cover__title,
.cover__description,
.bet-button {
  color: #fff;
  text-transform: uppercase;
}

.cover__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 105px;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.3;
  letter-spacing: 30px;
}

.aligned-text_left {
  align-self: start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
  margin-bottom: 50px;
  font-size: 22px;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  background-color: transparent;
}

.lots__heading {
  margin-bottom: 27px;
}

.lots__heading {
  padding-left: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__card-list {
  margin-bottom: 30px;
}

.lots__card-list-item {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  color: #fff;
}

.card-link,
.card {
  height: 100%;
}

.card__title,
.card__text {
  position: relative;
  z-index: 100;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg') center/cover no-repeat;
}

.card_type_book {
  background: url('../images/card-lot-02.jpg') center/cover no-repeat;
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg') center/cover no-repeat;
}

.lots__look-more-link {
  padding-left: 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000;
  aspect-ratio: 1;
}

.about-body {
  padding-top: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding-top: 100px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 6px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}