.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header-menu-item:first-child {
  list-style: none;
}

.header-menu-item:not(:first-child) {
  text-decoration: underline;
}

.header-address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
}

.cover-title,
.cover-description {
  position: relative;
  z-index: 100;
}

.cover-title,
.cover-description,
.cover-description-button {
  color: #fff;
  text-transform: uppercase;
}

.cover-title {
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.cover-title span:nth-child(1) {
  align-self: start;
}

.cover-title span:nth-child(2) {
  align-self: center;
}

.cover-title span:nth-child(3) {
  align-self: end;
}

.cover-title:not(:last-child) {
  margin-bottom: 106px;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.cover-description-body {
  line-height: 28px;
  word-spacing: 18px;
}

.cover-description-button {
  padding: 12px 32px;
  background-color: transparent;
  border: 1px solid #fff;
}

.lots-title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.lots-title:not(:last-child) {
  margin-bottom: 27px;
}

.lots-title,
.lots-link {
  padding-left: 50px;
}

.lots-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots-list:not(:last-child) {
  margin-bottom: 30px;
}

.lots-list-item {
  position: relative;
  min-width: 334px;
  min-height: 596px;
  color: #fff;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots-list-item-link,
.lots-list-item-article {
  position: relative;
  z-index: 100;
}

.lots-list-item-link {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
}

.lots-list-item-article {
  font-size: 20px;
  line-height: 24px;
}

.lots-list-item:nth-child(1) {
  background: url('../images/card-lot-01.jpg') center/cover no-repeat;
}

.lots-list-item:nth-child(2) {
  background: url('../images/card-lot-02.jpg') center/cover no-repeat;
}

.lots-list-item:nth-child(3) {
  background: url('../images/card-lot-03.jpg') center/cover no-repeat;
}