.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header-menu-item:first-child {
  list-style: none;
}

.header-menu-item:not(:first-child) {
  text-decoration: underline;
}

.header-address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
}